#root {

  margin: 0 auto;
}

.navlogo {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  margin: 0em 0.5em -0.6em -0.1em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

nav {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  margin-top: -0.5em;
}

.navbutton {
  border-radius: 0%;
}

.loginbutton {
  border-radius: 2%;
  color: white;
  border: 1px solid transparent;
  background-color: #5865F2;
  float: right;
}

.loginbutton:hover {
  color: white;
  background-color: #535bf2;
}

.discordlogo {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.6em;
}